/* body{
    margin: 0;
    padding: 0;
} */


#header-bg{
    background-image: url('../images/background-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
}

#logo{
    text-decoration: none;
    font-family: fantasy;
    font-size: 20pt;
    color: rgb(228, 10, 10);
    font-family: fantasy;
}

#nav-links{
    display: flex;
    justify-content: space-between;
}

#ul-list{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-item{
    text-decoration: none;
    color: beige;
    
    
}

.btn{
    background-color: transparent;
    padding: 2px 26px;
    border-radius: 4rem;
    border: 2px solid white;
}

.btn a{
    text-decoration: none;
    color: white;  
}

.header-text{
    margin-top: 10%;
    font-size: 20px;
    color: black;
    background-color: white ;
    margin-right: 50%;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}

.about-section{
    margin: 10rem 10rem;
    display: flex;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
    }

.images{
    display: flex;
    gap: 2rem;
    width: 50%;
}

.parent img{
    width: 100%;
}

/* .about-text{
    width: 50%;
    font-size: 20px;
} */

/* .about-text h5{
    font-size: 20px;
    color: orangered;
} */

.about-btn{
    border: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid orangered;
    font-size: 15px;
    color: orangered;
    
}

.about-btn:hover{
    background-color: orange;
}

.serve-section{
    margin: 6rem 10rem;
}

.serve-images{
    display: flex;
    gap: 30px;
}

.serve-images h2{
    font-size: 20px;
}

.serve-btn{
    text-align: center;
    margin-top: 2rem;
}

.image a{
    text-decoration: none;
    color: black;
}
.image img{
    width: 100%;
}

.border {
    border: none ;
    background-color: orangered;
   text-align: center;
    margin: 2rem auto;
}

.serve-text{
    /* border: double; */
    text-align: center;
    margin: 2rem auto;
}

.serve_text h5{
    text-align: ce
}